#title {
 text-align: center;
 text-decoration: underline;
 
}

#radio, #dateDoc, #newDoc{

display: none;

}

#last, #deldoc, #hospDisplay {

display: none;

}

#dispForm, #stopDoc, #assign, #nottreating{

display: none;

}

